# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
.env
.env*.local
.vercel

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
*.class

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Flutter/Flutter.framework
**/macos/Flutter/Flutter.podspec

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Supabase
.supabase/

# OS
.DS_Store
Thumbs.db
